.Location {
  background: transparent;
  display: block;
  height: auto;
  padding: 5px 20px 90px 25px;
  position: relative;
  width: 100%;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .Location {
    padding-left: 150px;
  }
}

.Location:before {
  background: #ccc;
  bottom:  0;
  content: '';
  display: block;
  height: auto;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1px;
}

.Location h2,
.Location h3,
.Location h1 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.Location h2 {
  color: #444;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  padding: 0;
}

.Location h1 {
  font-family: 'Space Mono', monospace;
  font-size: .8rem;
}

.Location p {
  font-family: 'Space Mono', monospace;
  font-size: .8rem;
}

.Location .Distance {
  display: block;
  height: 20px;
  position: relative;
  width: 70%;
}

.Location .Progress {
  bottom: 0;
  display: block;
  font-size: .6rem;
  height: 20px;
  left: 0;
  min-width: 30px;
  position: absolute;
  top: 0;
}

.Location .Progress:before {
  content: '🚜';
  display: block;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 2;
}

.Location .Progress:after {
  border-top: 1px solid #ccc;
  content:'';
  display: block;
  height: 0;
  left: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0,-50%,0);
  z-index: 1;
}

.Location .Label {
  display: block;
  font-family: 'Space Mono', monospace;
  font-size: .75rem;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  position: absolute;
  left: 100%;
  text-transform: lowercase;
  width: auto;
}

.Location .FromPrevious {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  bottom: 35px;
  display: block;
  font-family: 'Space Mono', monospace;
  font-size: .6rem;
  height: 20px;
  left: 0px;
  line-height: 18px;
  padding: 0 10px;
  position: absolute;
  text-transform: lowercase;
}

.Location a {
  background: #3C5A99;
  border: 1px solid #3C5A99;
  border-radius: .3rem;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  height: 1rem;
  line-height: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: color .25s ease-in-out,background .25s ease-in-out, border .27s ease-in-out;
  vertical-align: middle;
  width: 1rem;
}

.Location a:hover {
  background: #fff;
  border: 1px solid #3C5A99;
  color: #3C5A99;
}