.Map {
  background: linear-gradient(to bottom, #e5eaeb 0%,#f6f6f4 100%);
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 1;
}

.Map .container {
  display: block;
  min-height: 100%;
  height: auto;
  position: relative;
  width: 100%;
}