.LineChart {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.LineChart svg .line {
  fill: none;
  mix-blend-mode: multiply;
  opacity: 1;
  stroke: rgb(68, 68, 68);
  stroke-dasharray: none;
  stroke-width: 1px;
}

.LineChart svg .line.free {
  stroke: #64BAAA;
}

.LineChart svg .line.busy {
  stroke: #FD2977;
}

.LineChart svg .point.free {
  fill: #64BAAA;
  stroke: none;
}

.LineChart svg .point.busy {
  fill: #FD2977;
  stroke: none;
}

.LineChart svg .xAxis {
  mix-blend-mode: multiply;
  stroke: rgba(0, 0, 0, .1);
  stroke-dasharray: none;
  stroke-width: 1px;
}

.LineChart svg .dateLine {
  mix-blend-mode: multiply;
  stroke: rgba(0, 0, 0, .25);
  stroke-dasharray: 1 2;
  stroke-width: 1px;
}

.LineChart svg .label {
  fill: rgba(0, 0, 0, .75);
  font-size: 10px;
}

.LineChart svg .bullet {
  mix-blend-mode: multiply;
  fill: rgba(0, 0, 0, .25);
}