.List {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.List .Scroll {
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
  left: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  position: absolute;
  right: 0px;
  scroll-snap-type: x mandatory;
  top: 20px;
  width: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.List .Day {
  background: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  padding: 0;
  position: relative;
}

.List .Day:before {
  background: #ccc;
  bottom: 32px;
  content:'';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 4px;
  width: auto;
}

.List .Day:after {
  background: #fff;
  bottom: 32px;
  content:'';
  display: block;
  height: 1px;
  left: auto;
  position: absolute;
  right: 10px;
  width: 4px;
}

.List .Day > h2 {
  background: #fff;
  border:1px solid #ccc;
  border-radius: 10px;
  bottom: 20px;
  display: block;
  font-family: 'Space Mono', monospace;
  font-size: .8rem;
  font-weight: 700;
  height: 25px;
  left: 0;
  line-height: 25px;
  padding: 0 10px;
  position: absolute;
  text-align: left;
  z-index: 5;
}