/**
 * font-family: 'Patua One', cursive;
 * font-family: 'Open Sans', sans-serif;
**/


html, body {
  display: block;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  width: 100vw;
}

body {
  background: #fefefe;
  color: #444;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2, h4 {
  font-family: 'Bevan', cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 50px auto;
  text-align: center;
}

h1 sup {
  font-size: 1.2rem;
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 3rem;
  }
}


h3 {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}

@media screen and (min-width:768px) {
  h3 {
    font-size: 1.6rem;
  }
}

h3 + h3 {
  margin-top: 2em;
}

p {
  line-height: 1.75;
}