.WhereIsMatteo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9;
}

.WhereIsMatteo .Core {
  background: #fff;
  display: block;
  height: 90vh;
  position: relative;
  width: 100%;
}

@media screen and (min-width:1024px) {
  .WhereIsMatteo .Core {
    height: 90vh;
  }
}

.WhereIsMatteo .MapWrapper {
  bottom: 220px;
  background: #fff;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 1;
}

@media screen and (min-width:1024px) {
  .WhereIsMatteo .MapWrapper {
    bottom: 0;
    top: 220px;
  }
}

.WhereIsMatteo .ListWrapper {
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 2rem 0 rgba(0,0,0,.15);
  display: block;
  height: 220px;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: auto;
  z-index: 2;
}

@media screen and (min-width:1024px) {
  .WhereIsMatteo .ListWrapper {
    bottom: auto;
    top: 0;
  }
}

.WhereIsMatteo .ListPosition {
  display: block;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.WhereIsMatteo .loading {
  background: purple;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.WhereIsMatteo .loading.is-visible {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.WhereIsMatteo .error {
  background: gold;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.WhereIsMatteo .error.is-visible {
  opacity: 1;
  pointer-events: all;
  z-index: 101;
}

.WhereIsMatteo .empty {
  background: goldenrod;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.WhereIsMatteo .empty.is-visible {
  opacity: 1;
  pointer-events: all;
  z-index: 99;
}

.WhereIsMatteo .Intro-Map {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding: 10vh 10vw;
  width: 100%;
}

.WhereIsMatteo .Intro-Map .text {
  align-self: center;
  display: block;
  flex: 0 0 100%;
  max-width: 900px;
}

.WhereIsMatteo .Intro-Map h3 {
  font-family: sans-serif;
  line-height: 2;
}

.WhereIsMatteo .Intro-Map h3 em {
  background: #e1f6e2;
  box-shadow: 1px 0 0 1px #e1f6e2, -2px 0 0 2px #e1f6e2;
  font-family: 'Bevan', cursive;
  font-style: normal;
  font-weight: 400;
}

.WhereIsMatteo .Intro-Map h1 {
  font-size: 3rem;
  padding: 50px 0;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .WhereIsMatteo .Intro-Map h1 {
    font-size: 6rem;
    padding: 100px 0 50px 0;
  }
}